/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #6b6b6b !important;
}

p {
  margin: 0;
}

.divisoria::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #1e1b54;
}

ul {
  list-style: none;
}

/* header  */

#top-header {
  background: #fcf7f7;
}

.tamanho-header {
}

.header-container {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 65%;
  width: 100%;
  padding-bottom: 15px;
  margin: auto;
}

.header-column {
  display: flex;
  padding: 10px;
  margin: auto;
}

.pesquisar-texto {
  width: 190px;
  height: 36px;
}

.pesquisar {
  color: #fff;
  background-color: #30aaa0;
  margin-left: 10px;
  width: 150px;
  height: 30;
  border: none;
  border-radius: 5px;
}

/* conteudo */

#conteudo {
  max-width: 65%;
  margin: 0 auto;
  margin-top: 50px;
}

.centerh2 {
  text-align: center;
}
.acesseaq {
  margin: 20px 0;
}

.exames {
  margin-top: 75px;
}

.itaci {
  margin-top: 63px;
  margin-bottom: 40px;
}

.linkfinal {
  margin-top: 47px;
  margin-bottom: 70px;
}

/* tabelas */
table {
  text-align: center;
  padding: 0;
  border-collapse: collapse;
}

/* Tabelas Azuis */
.tableazul1 {
  margin-top: 45px;
  width: 70%;
  height: 294px;
}

.tableazul2 {
  margin-bottom: 48px;
  width: 70%;
  height: 172px;
}

.corcabeçalho {
  background: #2b7a91;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.backazul {
  background: #d6ebf2;
}

.backazulescuro {
  background: #88c6d8;
}

/* Tabela Cinza */
.tablecinza {
  width: 100%;
  height: 232px;
  margin-bottom: 32px;
}

.cinza {
  background: #f2f2f2;
}

.cinzaescuro {
  background: #ebebeb;
  width: 50%;
}

/* Footer */

#rodape {
  background-color: #1e1b54;
}

/* Links uteis  */
.rodapecontainer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  max-width: 65%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
img {
  display: block;
}
.links-uteis img {
  padding-bottom: 20px;
}

/* contatos  */

.link-telefone {
  display: block;
  margin-bottom: 20px;
}

.grid-contato {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

/* medalha  */
.portal-flex {
  display: flex;
  gap: 10px;
}

.googleplay,
.appstore {
  max-width: 110px;
}

/* direitos */

.direitos {
  color: #fff;
  margin: 0;
  padding: 25px;
  display: block;
  background-color: #80b2ad;
  text-align: center;
}
